/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


body {
  outline: 1px solid green;
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  outline: 1px solid red;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


.home {
  outline: 1px solid blue;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.rating-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.rating-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  
}
.rating-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.rating-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 8%;
  color: #333;
}

.ratings-details-btns {
  outline: 1px solid brown;
  display: flex;
  justify-content: space-between;
}

.error {
  font-size: 12px;
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
} */

.form {
  width: 600px;
  padding: 20px;
}